.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfixmobile {  
  *zoom: 1;
}
.clearfixmobile:after, .clearfixmobile:before {
  display: table;
  line-height: 0;
  content: "";
}

table {

    margin-bottom: 15px;
    padding: 0px;
}

table {
    border: 1px solid #cde8ea;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    font-weight: normal;
    min-height: 0px;
    line-height: normal;
    padding: 4px 8px;

    color: #284e36;
    background-color: #cde8ea;
    border-right-color: #ffffff;
}

table td {
    border: 1px solid #cde8ea;
    padding: 4px;
}

a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.static-data .label, .dynamic-data .label, .address-data .label {
  font-weight: bold;
  width: 10em;
  display: inline-block;
  vertical-align: top;
}

.grid-50 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.dynamic-data {
  margin: 2px 0;
}

input, textarea, select {
  width: 15em;
  font-family: Calibri, arial, sans-serif;
}

button {
    font-family: Calibri, arial, sans-serif;
}

.static-data {
    margin: 2px 0;
}

.address-data .label  {
    margin: 2px 0;
    width: 10em;
    display: inline-block;
}

input[type="checkbox"] {
    width: auto;
}

.landing-page-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    padding-bottom: 1px;
    margin-bottom: 1em;
    border-right: 1px solid #e1e1e1;
}

.biosecurity-bg {
    background: url(http://agriculture.gov.au/_catalogs/masterpage/Agriculture2015/css/quicklink-bg/biosecurity-bg.jpg) 100% top;
}

.landing-page-links li {
    float: left;
    width: 50%;
    border: 1px solid #e1e1e1;
    border-right: 0;
    box-sizing: border-box;
    display: flex;
    align-content: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: -1px;
    flex-grow: 1;
}

.landing-page-links li a, .landing-page-links li a:visited {
    padding: 2em .5em;
    color: #165788;
    text-decoration: none;
    display: flex;
    text-align: center;
    transition: all .3s ease-in;
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    font-weight: bold;
    min-height: 100px;
    float: left;
    background: #ffffff;
    background: rgba(255,255,255, 1);
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page-content a:visited {
    color: #6a4061;
}

.landing-page-links li a:hover, .landing-page-links li a:focus, .landing-page-links li a:active {
    color: #ffffff;
    text-decoration: none;
    border-color: #ffffff;
    background: rgba(255,255,255, .0);
}

@media screen and (min-width: 968px) {
.landing-page-links li {
    width: 25%;
}
}

.page-actions {
    margin-left: 10em;
}

.page-actions button {
    margin-right: 1em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input, textarea, select, button {
    font-size: 16px;
}

.dynamic-data.has-error {
    border-left: 4px solid #b7202d;
    padding-left: 3px;
    color: #b7202d;
}

.dynamic-data.has-error > label, .has-error .label {
    width: calc(10em - 7px);
}

.dynamic-data__input {
    display: inline-block;
}

 .field-error {
     font-weight: bold;
 }

 .filter-actions {
     margin-left: 10em;
 }

 button {
    background-color: #d5d2ca;
    color: #000000;
    cursor: pointer;
    border: none;
    padding: 5px;
    min-width: 6em;
 }

 button:hover {
    background-color: #857d6f;
    color: #ffffff;
    cursor: pointer;
}

.dynamic-data.checkbox {
    margin-left: 10em;
}

.dynamic-data.checkbox label {
    width: auto;
    font-weight: normal;
}