* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Calibri, arial, sans-serif;
    background: #343434;
    font-size: 16px;
    color: #444;
}

.page-wrapper {
    background: #d5d2ca;
}

@media screen and (min-width: 968px) {
  .banner {
      display: block;
      max-width: 1170px;
      margin: 0 auto;
  }
}

.banner {
    border-top: 5px solid #823c47;
}
